---
import type { MenuItem } from "../../../types";
import { formatNumber } from "../../../utils";
import VolumeAndPrice from "../../VolumeAndPrice.astro";

interface Props {
  item: MenuItem;
  shouldBeCentered?: boolean;
}

const { item, shouldBeCentered } = Astro.props;

const { menu } = Astro.params;

const isBar = menu === "bar";
---

<article
  class={`flex flex-col items-center justify-end ${shouldBeCentered && "col-span-2 justify-self-center"}`}
>
  <img
    src={item.image}
    alt={item.name}
    class="h-[280px] md:h-[380px] lg:h-[420px] w-auto object-contain scale-[104%]"
  />
  <h2 class="mt-4 text-[20px] md:text-[28px] font-bold">{item.name}</h2>
  <p class="text-[9px] md:text-[14px]">{item.description}</p>

  <div
    class={`bg-category rounded-lg h-[1px] w-full my-1 max-w-[136px] ${isBar && "bg-categorySecondary"}`}
  >
  </div>

  <VolumeAndPrice
    volume={item.volume}
    price={item.price}
    isBar={isBar}
    boldPrice
  />
</article>
