---
import CategoryCarousel from "./Category/CategoryCarousel.astro";
import MenuButton from "./MenuButton.astro";
import Image from "astro/components/Image.astro";
import Logo from "../assets/social-coffee-logo.png";
import type { Category } from "../types";
import classNames from "classnames";
import CategoryButton from "./Category/CategoryButton.astro";
import BurgerMenu from "./BurgerMenu";

export const prerender = true;

const { searchParams } = Astro.url;

interface Props {
  categories?: Category[];
  menuOptions: Category[];
  hideMenus?: boolean;
}

const { categories, menuOptions, hideMenus } = Astro.props;
const { menu } = Astro.params;
---

<header class="bg-secondary h-auto" id="header-section">
  <div
    class="absolute z-20 top-4 right-4 md:top-8 md:right-8 text-primary space-x-4"
  >
    <a
      href={`/${menu}?lang=ru`}
      class={`inline-block p-2 text-xs md:text-base border-primary rounded-lg ${searchParams.get("lang") === "ru" && "border"} ${searchParams.get("lang") === null && "border"}`}
      >RU</a
    >
    <a
      href={`/${menu}?lang=ky`}
      class={`inline-block p-2 text-xs md:text-base border-primary rounded-lg ${searchParams.get("lang") === "ky" && "border"}`}
      >KY</a
    >
    <a
      href={`/${menu}?lang=en`}
      class={`inline-block p-2 text-xs md:text-base border-primary rounded-lg ${searchParams.get("lang") === "en" && "border"}`}
      >EN</a
    >
  </div>

  <div
    class={classNames(
      "bg-cover min-h-[70vh] xl:min-h-screen flex flex-col justify-center space-y-12 background overflow-x-hidden"
    )}
  >
    {
      !hideMenus ? (
        <div class="flex flex-col items-center justify-center space-y-20 h-full">
          <Image
            src={Logo}
            alt="logo"
            class="scale-75 md:scale-90"
            fetchpriority="high"
          />

          <div class="flex flex-col items-center space-y-4">
            {menuOptions.map((option) => (
              <MenuButton
                isActive={option.slug === menu}
                link={`/${option.slug}`}
              >
                {option.name}
              </MenuButton>
            ))}
          </div>
        </div>
      ) : (
        <div class="flex lg:justify-center py-24 px-4 lg:px-0 w-full">
          <div class="flex lg:items-center lg:justify-center flex-wrap gap-x-4 gap-4 lg:gap-y-6 lg:w-[70%]">
            {categories?.map((category) => (
              <CategoryButton link={`#category-${category.id}`}>
                {category.name}
              </CategoryButton>
            ))}
          </div>
        </div>
      )
    }
  </div>
</header>

<BurgerMenu menuOptions={menuOptions} client:load />

{categories && <CategoryCarousel categories={categories} />}
