---
import type { MenuItem } from "../../../types";
import { formatNumber } from "../../../utils";
import VolumeAndPrice from "../../VolumeAndPrice.astro";

interface Props {
  item: MenuItem;
}

const { item } = Astro.props;

const { menu } = Astro.params;

const isBar = menu === "bar";
---

<article class="flex items-center justify-between text-[18px] md:text-[25px]">
  <div>
    <p>
      {item.name}
    </p>
    <p class="text-muted text-[12px] md:text-[18px]">{item.description}</p>
  </div>
  <VolumeAndPrice volume={item.volume} price={item.price} isBar={isBar} />
</article>
